/* Standard resets */

html{
    font-size: 10px;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgba(0,0,0,0.87);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.sf{
    font-size: 1.3rem;
}

.lf{
    font-size: 1.4rem;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation */

nav{
    justify-content: flex-end !important;
    width: 100%;
    padding-right: 8px;
}

.nav-link{
    margin: 10px;
}

.nav-link:hover,
.lang-link:hover,
.footer-link:hover{
    text-decoration: underline;
}

.nav-link-round{
    width: 40px;
    height: 40px;
    margin: 10px 5px;
}

.nav-link-round:hover{
    background-color: #e7e7e7;
    border-radius: 50%;
}

.apps-icon{
    opacity: 0.6;
    width: 65%;
}

.user-profile-img{
    border-radius: 50%;
    width: 75%;
}

.signin-btn{
    border: none;
    background-color: #1a73e8;
    color: #fff;
    padding:10px 27px;
    border-radius: 4px;
}

.signin-btn:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: #3481e6;
}

/* Main */

main{
    flex-direction: column;
    height: 65vh;
    min-height: 300px;
}

.logo {
    width: 272px;
    height: 92px;
    margin-top: 114px;
}

.search-container{
    justify-content: space-between;
    border: 1px solid rgb(219, 219, 219);
    width: 58.4rem;
    height: 45px;
    border-radius: 30px;
    margin-top: 26px;
}

.search-container:hover{
    border-color: #fff;
    box-shadow: 0 1px 6px 0 rgb(161, 161, 161);
}

.search-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 14px;
    opacity: 0.4;
}

input{
    width: 100%;
    height: 100%;
    border: none;
}

.microphone-btn img{
    margin: 0 21px 0 5px;
}

.lucky-container{
    margin: 35px;
}

.lucky-link{
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
}

.lucky-link:hover{
    border: 1px solid rgb(219, 219, 219);
}

.lang-link{
    color: blue;
    padding: 0 5px;
}

/* Footer */

footer{
    background-color: rgb(230, 228, 222);
    justify-content: space-between !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 48px;
    padding: 0 20px;
}

.footer-link{
    padding: 0 15px;
    color: rgb(126, 126, 126);
}

/* Media Queries */

@media (max-width: 660px) {
    .search-container {
      width: 75%;
    }
  
    footer {
        flex-direction: column;
    }
}